USE [NorthOps]
GO
/****** Object:  Table [dbo].[AddressStateProvinces]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressStateProvinces](
	[StateProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AddressStateProvinces] PRIMARY KEY CLUSTERED 
(
	[StateProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AddressTownCities]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressTownCities](
	[TownCityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[StateProvinceId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AddressTownCities] PRIMARY KEY CLUSTERED 
(
	[TownCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicantAnswer]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicantAnswer](
	[ApplicantAnswerId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[ChoiceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApplicantAnswer] PRIMARY KEY CLUSTERED 
(
	[ApplicantAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Applicants]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicants](
	[ApplicantId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[ExamId] [uniqueidentifier] NULL,
	[Result] [int] NULL,
	[DateTimeTaken] [datetime2](7) NULL,
 CONSTRAINT [PK_Applicants] PRIMARY KEY CLUSTERED 
(
	[ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CategoryName] [varchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Choice]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choice](
	[ChoiceId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[Choice] [varchar](max) NULL,
	[IsAnswer] [bit] NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_Choice] PRIMARY KEY CLUSTERED 
(
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exam]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[ExamName] [varchar](max) NULL,
	[ExamType] [int] NULL,
	[Duration] [int] NULL,
	[Description] [varchar](max) NULL,
	[IsFinish] [bit] NULL,
	[VideoPath] [varchar](max) NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[JobApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Resume] [bit] NULL,
	[PhoneInterview] [bit] NULL,
	[PersonalInterview] [bit] NULL,
	[Training] [bit] NULL,
	[OnBoarding] [bit] NULL,
	[Contract] [bit] NULL,
	[ExamScore] [decimal](5, 2) NULL,
 CONSTRAINT [PK_JobApplications_1] PRIMARY KEY CLUSTERED 
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ExamId] [uniqueidentifier] NOT NULL,
	[Title] [varchar](max) NULL,
	[Question] [varchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[LastUpdatedBy] [nvarchar](150) NULL,
	[LastUpdated] [datetime] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[CivilStatus] [nvarchar](12) NULL,
	[Gender] [nvarchar](6) NULL,
	[BirthDate] [smalldatetime] NULL,
	[AddressLine2] [nvarchar](500) NULL,
	[AddressLine1] [nvarchar](500) NULL,
	[TownCity] [int] NULL,
	[Cellular] [nvarchar](25) NULL,
	[Photo] [varbinary](max) NULL,
	[Height] [decimal](5, 2) NULL,
	[Weight] [decimal](5, 2) NULL,
	[Religion] [nvarchar](50) NULL,
	[Citizenship] [nvarchar](50) NULL,
	[Languages] [nvarchar](max) NULL,
	[Resume] [varbinary](max) NULL,
	[ResumeFileType] [varchar](5) NULL,
	[HireDate] [datetime] NULL,
	[Skills] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 1/21/2018 2:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UsersInRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AddressStateProvinces] ON 

INSERT [dbo].[AddressStateProvinces] ([StateProvinceId], [Name], [SortOrder]) VALUES (1, N'Metro Manila', 1)
INSERT [dbo].[AddressStateProvinces] ([StateProvinceId], [Name], [SortOrder]) VALUES (2, N'Abra', 2)
INSERT [dbo].[AddressStateProvinces] ([StateProvinceId], [Name], [SortOrder]) VALUES (3, N'Agusan del Norte', 3)
SET IDENTITY_INSERT [dbo].[AddressStateProvinces] OFF
SET IDENTITY_INSERT [dbo].[AddressTownCities] ON 

INSERT [dbo].[AddressTownCities] ([TownCityId], [Name], [StateProvinceId], [SortOrder]) VALUES (1, N'City of Manila', 1, 0)
INSERT [dbo].[AddressTownCities] ([TownCityId], [Name], [StateProvinceId], [SortOrder]) VALUES (2, N'Caloocan City', 1, 2)
INSERT [dbo].[AddressTownCities] ([TownCityId], [Name], [StateProvinceId], [SortOrder]) VALUES (3, N'Las Piñas', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[AddressTownCities] OFF
INSERT [dbo].[Applicants] ([ApplicantId], [UserId], [ExamId], [Result], [DateTimeTaken]) VALUES (N'6beac66f-1018-47a6-8383-8ea2423f913c', N'eae02946-2eb5-49ea-b5c1-e5b5be250088', N'38f5d9fc-1dd0-4d94-bcdd-85c6513947d1', NULL, CAST(N'2018-01-21T11:32:36.4676841' AS DateTime2))
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (N'9b6bd719-6596-455c-9568-0e3b8775324b', N'Typing Skills')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (N'fd3c5ebd-6498-44a7-a7fa-7d900ed417a6', N'Listening Skills')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (N'a03fa9e9-bbea-4b33-918d-81d2f31db99b', N'Grammar and Vocabulary')
INSERT [dbo].[Choice] ([ChoiceId], [QuestionId], [Choice], [IsAnswer], [DateCreated]) VALUES (N'e7f3c08a-6519-42bf-b2c2-033d6b7fb3f6', N'eae2b552-8e32-4331-beda-18c561fdefa1', N'are taken care of', 0, CAST(N'2018-01-21T11:28:01.8651366' AS DateTime2))
INSERT [dbo].[Choice] ([ChoiceId], [QuestionId], [Choice], [IsAnswer], [DateCreated]) VALUES (N'57a8134b-eb81-48af-82f8-074d2ebbe548', N'd06a1167-f575-48a9-bc94-f14790ae8561', N'been beaten', 0, CAST(N'2018-01-21T11:09:11.4450850' AS DateTime2))
INSERT [dbo].[Choice] ([ChoiceId], [QuestionId], [Choice], [IsAnswer], [DateCreated]) VALUES (N'0c441083-5ba8-4276-8b76-0973bfbed32c', N'1613f997-d620-4437-b952-e221c1a2ef79', N'haven’t invited', 0, CAST(N'2018-01-21T11:09:09.9706650' AS DateTime2))
GO
INSERT [dbo].[JobApplications] ([JobApplicationId], [UserId], [Resume], [PhoneInterview], [PersonalInterview], [Training], [OnBoarding], [Contract], [ExamScore]) VALUES (N'ebeb4f50-d24d-4746-8ffd-3d28674d8a60', N'029480b2-55cb-4ea7-8fb0-32a92949d727', 1, NULL, NULL, NULL, NULL, NULL, CAST(99.86 AS Decimal(5, 2)))
INSERT [dbo].[Question] ([QuestionId], [ExamId], [Title], [Question], [DateCreated]) VALUES (N'e319d63c-1a20-488f-ab6d-01de1f09a6d7', N'80b28964-0e4a-4cb0-9663-e9f905213175', N'Grammar Exam', N'Young babies need to ………………………', CAST(N'2018-01-21T11:09:10.0604040' AS DateTime2))
INSERT [dbo].[Question] ([QuestionId], [ExamId], [Title], [Question], [DateCreated]) VALUES (N'c24c1a99-7001-4198-ad14-0551571ed6f5', N'80b28964-0e4a-4cb0-9663-e9f905213175', N'Grammar Exam', N'I didn’t know why I ……………………', CAST(N'2018-01-21T11:09:10.1857386' AS DateTime2))
INSERT [dbo].[Question] ([QuestionId], [ExamId], [Title], [Question], [DateCreated]) VALUES (N'd0e6e853-9e26-4e1a-84d6-081bb4974808', N'38f5d9fc-1dd0-4d94-bcdd-85c6513947d1', N'Listening 101', N'I ………………………… but I went anyway.', CAST(N'2018-01-21T11:10:22.5233333' AS DateTime2))
INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (N'51748512-0d49-4485-9e72-dcc640a8add0', N'Administrator', N'System Administrators')
INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (N'919d54e8-d863-4f80-9211-2312607e9dcc', N'Employee', N'Operations Employee')
INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (N'9ccf7a3d-1aa4-4925-8896-506382e76903', N'Applicant', N'Applicant')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'029480b2-55cb-4ea7-8fb0-32a92949d727', N'9ccf7a3d-1aa4-4925-8896-506382e76903')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'83c7e4fb-7255-4a69-9f9d-90c8433cb5c6', N'c84aa6b1-de06-4459-962b-217c0ef180a7')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'cc94d1de-d949-4afb-ae33-2802085b2ac0', N'51748512-0d49-4485-9e72-dcc640a8add0')
ALTER TABLE [dbo].[ApplicantAnswer] ADD  CONSTRAINT [DF_Table_1_QuestionAnsweredId]  DEFAULT (newid()) FOR [ApplicantAnswerId]
GO
ALTER TABLE [dbo].[Applicants] ADD  CONSTRAINT [DF_Applicants_ApplicantId]  DEFAULT (newid()) FOR [ApplicantId]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CategoryId]  DEFAULT (newid()) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Choice] ADD  CONSTRAINT [DF_Choice_ChoiceId]  DEFAULT (newid()) FOR [ChoiceId]
GO
ALTER TABLE [dbo].[Choice] ADD  CONSTRAINT [DF_Choice_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Exam] ADD  CONSTRAINT [DF_Exam_ExamId]  DEFAULT (newid()) FOR [ExamId]
GO
ALTER TABLE [dbo].[Exam] ADD  CONSTRAINT [DF_Exam_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_QuestionId]  DEFAULT (newid()) FOR [QuestionId]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AddressTownCities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressTownCities_dbo.AddressStateProvinces_StateProvinceId] FOREIGN KEY([StateProvinceId])
REFERENCES [dbo].[AddressStateProvinces] ([StateProvinceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AddressTownCities] CHECK CONSTRAINT [FK_dbo.AddressTownCities_dbo.AddressStateProvinces_StateProvinceId]
GO
ALTER TABLE [dbo].[ApplicantAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ApplicantAnswer_ChoiceId] FOREIGN KEY([ChoiceId])
REFERENCES [dbo].[Choice] ([ChoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantAnswer] CHECK CONSTRAINT [FK_ApplicantAnswer_ChoiceId]
GO
ALTER TABLE [dbo].[ApplicantAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ApplicantAnswer_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[ApplicantAnswer] CHECK CONSTRAINT [FK_ApplicantAnswer_QuestionId]
GO
ALTER TABLE [dbo].[ApplicantAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ApplicantAnswer_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ApplicantAnswer] CHECK CONSTRAINT [FK_ApplicantAnswer_UserId]
GO
ALTER TABLE [dbo].[Applicants]  WITH CHECK ADD  CONSTRAINT [FK_Applicants_ExamId] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[Applicants] CHECK CONSTRAINT [FK_Applicants_ExamId]
GO
ALTER TABLE [dbo].[Applicants]  WITH CHECK ADD  CONSTRAINT [FK_Applicants_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Applicants] CHECK CONSTRAINT [FK_Applicants_UserId]
GO
ALTER TABLE [dbo].[Choice]  WITH CHECK ADD  CONSTRAINT [FK_Choice_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Choice] CHECK CONSTRAINT [FK_Choice_Question]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_CategoryId]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_JobApplications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApplications_Users]
GO
ALTER TABLE [dbo].[Question]  WITH NOCHECK ADD  CONSTRAINT [FK_Question_ExamId] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question] NOCHECK CONSTRAINT [FK_Question_ExamId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_UserRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_UserRoles]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_Users]
GO
